.contact{
	display: flex;
	flex-direction: row;
	margin-top: 5%;
	position: fixed;
}
.title-page{
	display: flex;
	align-items: center;
	margin-left: 5%;
    width: 45%;
	margin-top: 8%;
}
.title-page h3{
 transform: rotate(-90deg);
 font-size: 3.5rem;
 border-bottom: 1px solid #563003;
 color: #563003;
 font-family: "Montserra",sans-serif;

}

.formcontact{
	width: 100%;
	height: 100%;	
	margin-left: 5%;
}

.formcontact ul{
	list-style: none;
	display: inline-block;
	padding-left: 10%;

}
.formcontact li{
display: block;
padding-top: 50px;
}
.form input
{
  	padding-top: 20px;
	outline: none;
	display: block;
	border: none;
	border-bottom:1px solid #E6D9B0;
	font: 20px "Montserrat", sans-serif;
	width: 100%;
	height: 100%;
 	 color :#563003;
 	 background: transparent;
}

.form textarea{
	resize:none;
	outline: none;
	display: block;
	border: none;
	border-bottom:1px solid #E6D9B0;
	font: 20px "Montserrat", sans-serif;
	width: 150%;
	padding-top: 20px;
	background: transparent;
	color :#563003;
  }
iframe{
	bottom: 0;
	position: fixed;
}	

.form{
	position:relative;
	height: 50px;
	
}
.form input:focus + label span,
.form input:valid + label span
{
  transform: translateY(-150%);
  font-size: 15px;
  
}
.form textarea:focus + label span,
.form textarea:not(:placeholder-shown) + label span  {
  transform: translateY(-200%);
  font-size: 15px;
  
}
.form input:focus + label::after,
.form input:valid + label::after {
  transform: translateX(0%);
}

.form textarea:focus + label::after,
.form textarea:not(:placeholder-shown) + label::after{
	transform: translateX(10%);
}
.form label {
	content: "";
  	position: absolute;
  	bottom: -10px;
  	left:0%;
	width: 100%;
	height: 100%;
	color :#563003;
	font: 20px "Montserrat", sans-serif;
  }
.form label::after {
  content: "";
  position: absolute;
  left:0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  
}
.form span{
  position: absolute;
  bottom:5px;
  left:0;
  transition: all 0.3s ease;

}
.formcontact label:last-child{
	width: 50%;
	color :#563003;
	font: 18px "Montserrat", sans-serif;
	padding-top: 50px;
	
}

.formcontact input[type=checkbox]{
	height: 25px;
 	 width: 25px;
	  vertical-align: middle;
	 
	}

.check label {
	margin-top: 40%;
}


.formcontact input[type=submit] {
	width: 40px;
	border:none;
	background-color: white;
	height: 40px;	
	background-image:url(../img/bouton1.png);
	margin-left: 50%;
	
}


.formcontact input[type=submit]:hover {
	background-image: url(../img/bouton2.png);
}



a{
    
    color: #563003; 
}

a:hover {
	text-decoration: none ;
}



@media screen and (max-width:1024px){
	.title-page{
		font-size: 3rem;
		margin-left: 0;
		margin-top: 5%;
        width: 70%;
	}
	.formcontact{
		margin-left:-10%;
		margin-top: 5%;
	}
	.form label {
		font-size:15px;
	}
	.form input{
		font-size:15px;
	}
	iframe{
		height: 15%;
	}


.formcontact li{
padding: 20px 20px 20px 20px;
	
}

.formcontact label:last-child{
	font-size: 16px;
	width: 70%;
}
.formcontact input[type=checkbox]{
	margin-top: 5%;
	}
	.btn {
	margin-right: 10%;
	margin-top: -10%;
	}
	
}
@media screen and (max-height:900px){
	iframe{
		height: 15%;
	}
	.contact{
		position: relative;
	}
	.formcontact label:last-child{
		padding-top:10px;
	}
}
@media screen and (min-device-width:551px )and (max-device-width:700px){
    .title-page{
		margin-top: 5%;
        width: 90%;
	}
	.contact{
		margin-top: 5%;
	}
	.formcontact{
		margin-left:0;
	}
	
	iframe{
		height: 15%;
	}
	.formcontact label{
		font-size: 20px;
	}
	.formcontact label:last-child{
		font-size: 20px;
		width: 100%;
        display: inline;
	}
	.form input{
		font-size:20px;
	}
.formcontact ul{
	padding-left: 0;
	width: 50%;
}
.formcontact li{
	padding-left: 0;
	
}
.btn {
	margin-right: 20%;
	margin-top: 35%;
	}
}

@media screen and (min-device-width:376px )and (max-device-width:550px){
	.contact{
		display: flex;
		flex-direction: column;
		margin-top: 8%;
		margin-left: 8%;
		align-items: center;
		}
		.title-page{
			align-items: center;
		}
		.title-page h3{
            transform: rotate(0deg);
			
        }
		.formcontact ul{
			display: flex;
			flex-direction: column;
			align-items:flex-start;
		}

	.formcontact label:last-child{
		font-size: 30px;
		width: 100%;
		display:inline;
		
	}
	.formcontact li{
		padding-top: 80px;
		
	}
	.form input{
		font-size:25px;
	}
	.btn {
		margin-right: -10%;
		margin-top: 0;
		float: none;
		}
}
@media screen and (max-device-width:375px){
	.contact{
		display: flex;
		flex-direction: column;
		margin-top: 8%;
	
		align-items: center;
		}
		.title-page{
			align-items: center;
		}
		.title-page h3{
            transform: rotate(0deg);
			margin-left: 14%;
        }
		.formcontact ul{
			display: flex;
			flex-direction: column;
			align-items:flex-start;
			
		}
	.formcontact label:last-child{
		font-size: 40px;
		width: 100%;
		display: inline;
		
	}
	.formcontact li{
		padding-top: 85px;
		
	}
	.form input{
		font-size:30px;
	}
	.btn {
		margin-right: -10%;
		margin-top: 0;
		float: none;
		}
        
}
