body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: white;
	cursor: none;
	overflow: hidden;
}

a,
li,
div,
label,
input[type="text"],
input[type="tel"],
input[type="email"], 
textarea,
input[type="checkbox"],
button{
cursor:none;
}
.loader{
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: white;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	z-index: 99;
}

#line-container {
	
    width: 300px;
    height: 40px;	
	
}
.progress-text {
	
	font-size: 1.25em;
	color: black;
	font-weight: 600;
  }
.cursor {
	width: 40px;
	height: 40px;
	border: 1.5px solid #563003;
	border-radius: 50%;
	position: absolute;
	pointer-events: none;
}

.cursor::before {
	content: '';
	position: absolute;
	top : 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 5px;
	height: 5px;
	background: #563003;
	border-radius: 50%;

}

.expand {
	animation: Anim1 .5s;
	background: #563003;
	border: 1.5px solid #563003;
}

@keyframes Anim1 {
	0%{
		transform: scale(1);
	}

	50%{
		transform: scale(2);
	}

	100%{
		transform: scale(1);
		opacity:0;
	}
}

